.primary-div{
    position: relative;
    margin-top: 105px;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 60px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    text-align: center;
}
.social-link{
    width: 30px;
    font-size: 25px;
    height: 35px;
    color: black;
}

/* Cores dos links */
a:link {
    color: black;                 /*#00FFD4; /*#00FF00*/
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: black;                        /*#00FFD4;*/
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #272822;                             /*#fed136;*/
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}
/* Fim cores dos links */

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
    background-image: -moz-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
    background-image: -o-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
    background-image: linear-gradient(to right,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);
}

/*Bot達o de voltar ao topo*/
.voltar-ao-topo {
            position: fixed;
            bottom: 2em;
            right: 2em;
            text-decoration: none;
            color: white;
            background-color: rgba(0, 0, 0, 0.3);
            font-size: 12px;
            padding: 0.5em;
            display: none;
}

/*.voltar-ao-topo:hover {
            background-color: rgba(0, 0, 0, 0.3);
}*/
/*Bot達o de voltar ao topo*/

/*Bot達o Bootstrap modificado especial */
.btn-esp {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-esp:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-esp:focus, .btn-esp.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-esp.disabled, .btn-esp:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-esp:not(:disabled):not(.disabled):active, .btn-esp:not(:disabled):not(.disabled).active,
.show > .btn-esp.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-esp:not(:disabled):not(.disabled):active:focus, .btn-esp:not(:disabled):not(.disabled).active:focus,
.show > .btn-esp.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

/* Outline */
.btn-outline-esp {
  color: #000000;
  background-color: transparent;
  background-image: none;
  /*border-color: #343a40;*/
}

.btn-outline-esp:hover {
  color: #fff;
  background-color: #17A0B6;
  border-color: #17A0B6;
}

.btn-outline-esp:focus, .btn-outline-esp.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-esp.disabled, .btn-outline-esp:disabled {
  color: #343a40;
  background-color: transparent;
}

.btn-outline-esp:not(:disabled):not(.disabled):active, .btn-outline-esp:not(:disabled):not(.disabled).active,
.show > .btn-outline-esp.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-esp:not(:disabled):not(.disabled):active:focus, .btn-outline-esp:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-esp.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
/*Bot達o Bootstrap modificado especial*/